body {
    background-color: rgb(251, 248, 248);
    font-family:'Times New Roman', Times, serif;
    text-align: center;  
}

h1 {
    margin: 10px;
    color: rgb(21, 21, 21);
    font-size: 50px;  
}

button {
    border:gray solid;
    background-color: rgb(136, 131, 131);
    font-family: serif; 
    transition: 100ms;
}

button:hover {
    cursor: pointer;
    background-color: rgb(232, 169, 169);
}

.lives {
    margin: 10px auto 10px;
    border:gray solid;
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    height: 60px;
    width: 400px;
}

.shown-count {
    display: inline-block;
    border:gray solid;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    width: 150px;
}

.smiley {
    display: inline-block;
    border:gray solid;
    padding: 10px;
    transition: 100ms;
    font-size: 30px;
    height: 40px;
    width: 70px;
}

.smiley:hover {
    cursor: pointer;
    background-color: rgb(224, 141, 141);
}

.timer {
    display: inline-block;
    border:gray solid;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    width: 150px;
}
    
table {
	margin: 20px auto;
    border:gray solid;
}

.cell {
    border: 2px solid rgb(208, 204, 204);
    background-color: rgb(251, 248, 248);
    font-size: 1em;
    color:orange;
    width: 30px;
    height: 30px;
}

.clicked {
    border: 2px solid rgb(84, 81, 81);
    background-color: gray;
}

.marked {
    border: 2px solid rgb(84, 81, 81);
    background-color: rgb(236, 162, 162);
}

.cell:hover {
    cursor: pointer;
    background-color: orange;
}

footer {
    color:gray;
}