body {
    background-color: rgb(251, 248, 248);
    font-family:'Times New Roman', Times, serif;
    text-align: center;  
    background-image: url("mines3.jpeg"); /* The image used */
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    margin: 10px;
    color: rgb(21, 21, 21);
    font-size: 50px;  
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 10%;
    top: 10%;
    border-radius: 10%;
    width: 15%; /* Full width */
    height: 20%; /* Full height */
    font-size: 30px;
    font-weight: bold;
    overflow: auto; /* Enable scroll if needed */
    padding: 10px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hidden {
    display: none;
}

.win {
    color:rgb(49, 240, 65);
}

.lose {
    color:red;
}

button {
    border:gray solid;
    background-color: rgb(136, 131, 131);
    font-family: serif; 
    transition: 100ms;
}

button:hover {
    cursor: pointer;
    background-color: rgb(78, 212, 141);
}

.hints {
    font-size: 40px;
}

.hints:hover {
    cursor: pointer;
}

.lives {
    margin: 10px auto 10px;
    border:gray solid;
    padding: 10px;
    color: red;
    font-weight: bold;
    font-size: 40px;
    height: 60px;
    width: 300px;
}

.flags {
    display: inline-block;
    padding: 10px;
    color: red;
    font-weight: bold;
    font-size: 30px;
    height: 50px;
    min-width: 150px;
}

.smiley {
    transition: 100ms;
    font-size: 30px;
    height: 40px;
    width: 70px;
}

.smiley:hover {
    cursor: pointer;
}

.timer {
    display: inline-block;
    padding: 10px;
    color: red;
    font-weight: bold;
    font-size: 30px;
    height: 50px;
    min-width: 150px;
}
    
table {
	margin: 20px auto;
    border:gray solid;
}

.cell {
    border: 2px solid rgb(208, 204, 204);
    background-color: rgb(251, 248, 248);
    font-size: 1em;
    color:orange;
    width: 30px;
    height: 30px;
}

.clicked {
    border: 2px solid rgb(84, 81, 81);
    background-color: rgb(102, 105, 104);
}

.marked {
    border: 2px solid rgb(84, 81, 81);
    background-color: rgb(78, 212, 141);
}

.cell:hover {
    cursor: pointer;
    background-color: rgb(78, 212, 141);
}

footer {
    color: rgb(255, 255, 255);
}